<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920759037359-oapri2vbv0hlqvv30ona43t8q0ki0jjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920759037359-oapri2vbv0hlqvv30ona43t8q0ki0jjs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>920759037359-ng7dpcfpvea83o128aqsc2fi67mvlcmb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI7RfKwfMXXODKSPiuxjdZ4hO3aOe1YGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>920759037359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.blackworks.vocabApp</string>
	<key>PROJECT_ID</key>
	<string>blackworks-educational</string>
	<key>STORAGE_BUCKET</key>
	<string>blackworks-educational.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920759037359:ios:cb7601b41ac2bf7afe935a</string>
</dict>
</plist>